header {
  color: rgb(51, 8, 82);
}

body {
  color: black;
  text-align: center;
  font-size: 50px;
  background-image: url(https://i.postimg.cc/Z0ktkML3/jagody.jpg);
  background-size: cover;
  background-attachment: fixed;
}
